@mixin mobile-behaviour {
  @media (max-width: 500px) {
    @content;
  }
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  font-family: monospace;
  font-size: 1em;
  line-height: 1.6em;
  margin: 0;
  padding: 20px;

  @include mobile-behaviour {
    padding: 10px;
  }
}

#char{
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  left: -999px;

}

.flex-container {
  @include mobile-behaviour {
    display: flex;
    flex-wrap: wrap;
  }
}

.button {
  z-index: 20;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  @include mobile-behaviour {

    background:#666;
    color: #DDD;
    display: block;
    flex-grow: 1;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 100;
    margin: 5px 5px;
    min-height: 30px;
    padding: 15px;
    text-align: center;
    transition: all .2s ease-out;
  }

  span {
    @include mobile-behaviour {
      display: none;
    }
  }
}

.fast, .slow{
  z-index: -1;
  font-size: .8em;
  text-align: center;
  opacity: 0;
  display: block !important;
  position: absolute;
  background:#888;
  color: #EEE;
  width: 100%;
  height: 20px;
  padding: 4px 0;
  left: 0;
  line-height: 1em;
  top: -20px;
  transition: all .2s ease-out;
  transform: scaleY(0);
  transform-origin: 100% 100%;
}
.slow{
  top: auto;
  bottom: -20px;
  transform-origin: 0% 0%;
}

.hide-mobile {
  @media (max-width: 660px) {
    display: none;
  }
}
